/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Navbar Searchbar -- @dev see const */
button[class*="DetachedSearchButton"] {
  background: none;
  border-radius: 2em;
  width: 8em;
  height: 2.2em;
  margin-right: 1em;
  border: 1px solid black;
}
html[data-theme=dark] button[class*="DetachedSearchButton"] {
  background: none;
  border: 1px solid white;
}
div[class*="DetachedSearchButtonPlaceholder"], 
svg[class*="SubmitIcon"] {
  color:black;
}
html[data-theme=dark] div[class*="DetachedSearchButtonPlaceholder"], 
html[data-theme=dark] svg[class*="SubmitIcon"] {
  color:white;
}

/* @notice Navbar Social Icons */
/* github */
.header-github-link:hover {
  opacity: 0.6;
}
.header-github-link:before {
  content: '';
  width: 2em;
  height: 2em;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}
html[data-theme=dark] .header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}
/* twitter */
.header-twitter-link:hover {
  opacity: 0.6;
}
.header-twitter-link:before {
  content: '';
  width: 2em;
  height: 2em;
  display: flex;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.2.3  SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 400 400' style='enable-background:new 0 0 400 400%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23000000%3B%7D.st1%7Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Cg id='Dark_Blue'%3E%3Ccircle class='st0' cx='200' cy='200' r='200'/%3E%3C/g%3E%3Cg id='Logo__x2014__FIXED'%3E%3Cpath class='st1' d='M163.4 305.5c88.7 0 137.2-73.5 137.2-137.2c0-2.1 0-4.2-0.1-6.2c9.4-6.8 17.6-15.3 24.1-25c-8.6 3.8-17.9 6.4-27.7 7.6c10-6 17.6-15.4 21.2-26.7c-9.3 5.5-19.6 9.5-30.6 11.7c-8.8-9.4-21.3-15.2-35.2-15.2c-26.6 0-48.2 21.6-48.2 48.2c0 3.8 0.4 7.5 1.3 11c-40.1-2-75.6-21.2-99.4-50.4c-4.1 7.1-6.5 15.4-6.5 24.2c0 16.7 8.5 31.5 21.5 40.1c-7.9-0.2-15.3-2.4-21.8-6c0 0.2 0 0.4 0 0.6c0 23.4 16.6 42.8 38.7 47.3c-4 1.1-8.3 1.7-12.7 1.7c-3.1 0-6.1-0.3-9.1-0.9c6.1 19.2 23.9 33.1 45 33.5c-16.5 12.9-37.3 20.6-59.9 20.6c-3.9 0-7.7-0.2-11.5-0.7C110.8 297.5 136.2 305.5 163.4 305.5'/%3E%3C/g%3E%3C/svg%3E");
}
html[data-theme=dark] .header-twitter-link:before {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 20.0.0  SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='White' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 400 400' style='enable-background:new 0 0 400 400%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Cpath class='st0' d='M400 200c0 110.5-89.5 200-200 200S0 310.5 0 200S89.5 0 200 0S400 89.5 400 200z M163.4 305.5 c88.7 0 137.2-73.5 137.2-137.2c0-2.1 0-4.2-0.1-6.2c9.4-6.8 17.6-15.3 24.1-25c-8.6 3.8-17.9 6.4-27.7 7.6 c10-6 17.6-15.4 21.2-26.7c-9.3 5.5-19.6 9.5-30.6 11.7c-8.8-9.4-21.3-15.2-35.2-15.2c-26.6 0-48.2 21.6-48.2 48.2 c0 3.8 0.4 7.5 1.3 11c-40.1-2-75.6-21.2-99.4-50.4c-4.1 7.1-6.5 15.4-6.5 24.2c0 16.7 8.5 31.5 21.5 40.1c-7.9-0.2-15.3-2.4-21.8-6 c0 0.2 0 0.4 0 0.6c0 23.4 16.6 42.8 38.7 47.3c-4 1.1-8.3 1.7-12.7 1.7c-3.1 0-6.1-0.3-9.1-0.9c6.1 19.2 23.9 33.1 45 33.5 c-16.5 12.9-37.3 20.6-59.9 20.6c-3.9 0-7.7-0.2-11.5-0.7C110.8 297.5 136.2 305.5 163.4 305.5'/%3E%3C/svg%3E");
}
/* discord */
.header-discord-link:hover {
  opacity: 0.6;
}
.header-discord-link:before {
  content: '';
  width: 2em;
  height: 2em;
  display: flex;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 250 250' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linejoin:round%3Bstroke-miterlimit:2%3B'%3E%3Ccircle cx='125' cy='125' r='125' style='fill:none%3B'/%3E%3CclipPath id='_clip1'%3E%3Ccircle cx='125' cy='125' r='125'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23_clip1)'%3E%3Cg%3E%3Cpath d='M98.877 118.906c-8.078 -0 -14.456 7.086 -14.456 15.731c0 8.645 6.519 15.731 14.456 15.731c8.078 0 14.456 -7.086 14.456 -15.731c0.141 -8.645 -6.378 -15.731 -14.456 -15.731Zm51.729 -0c-8.078 -0 -14.456 7.086 -14.456 15.731c0 8.645 6.519 15.731 14.456 15.731c8.078 0 14.456 -7.086 14.456 -15.731c-0 -8.645 -6.378 -15.731 -14.456 -15.731Z' style='fill-rule:nonzero%3B'/%3E%3Cpath d='M250 -0l-250 -0l0 250l250 -0l-0 -250Zm-85.222 185.091c0 -0 -5.102 -6.094 -9.354 -11.48c18.566 -5.244 25.652 -16.865 25.652 -16.865c-5.81 3.827 -11.337 6.519 -16.298 8.362c-7.086 2.976 -13.889 4.96 -20.55 6.094c-13.605 2.551 -26.077 1.842 -36.706 -0.142c-8.078 -1.559 -15.023 -3.826 -20.833 -6.094c-3.26 -1.276 -6.803 -2.834 -10.346 -4.819c-0.425 -0.283 -0.851 -0.425 -1.276 -0.708c-0.283 -0.142 -0.425 -0.284 -0.567 -0.425c-2.551 -1.418 -3.968 -2.41 -3.968 -2.41c0 0 6.803 11.338 24.802 16.724c-4.252 5.385 -9.496 11.763 -9.496 11.763c-31.321 -0.992 -43.225 -21.542 -43.225 -21.542c-0 -45.635 20.408 -82.625 20.408 -82.625c20.408 -15.306 39.824 -14.881 39.824 -14.881l1.417 1.701c-25.51 7.369 -37.273 18.566 -37.273 18.566c0 -0 3.118 -1.701 8.362 -4.11c15.164 -6.661 27.211 -8.504 32.171 -8.929c0.85 -0.142 1.559 -0.283 2.409 -0.283c8.645 -1.134 18.424 -1.418 28.628 -0.284c13.464 1.559 27.92 5.527 42.659 13.606c0 -0 -11.196 -10.63 -35.289 -17.999l1.984 -2.268c0 0 19.416 -0.425 39.824 14.881c0 0 20.409 36.99 20.409 82.625c-0 -0 -12.047 20.55 -43.368 21.542Z' style='fill-rule:nonzero%3B'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
html[data-theme=dark] .header-discord-link:before {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 250 250' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd%3Bclip-rule:evenodd%3Bstroke-linejoin:round%3Bstroke-miterlimit:2%3B'%3E%3Ccircle cx='125' cy='125' r='125' style='fill:none%3B'/%3E%3CclipPath id='_clip1'%3E%3Ccircle cx='125' cy='125' r='125'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23_clip1)'%3E%3Cg%3E%3Cpath d='M98.877 118.906c-8.078 -0 -14.456 7.086 -14.456 15.731c0 8.645 6.519 15.731 14.456 15.731c8.078 0 14.456 -7.086 14.456 -15.731c0.141 -8.645 -6.378 -15.731 -14.456 -15.731Zm51.729 -0c-8.078 -0 -14.456 7.086 -14.456 15.731c0 8.645 6.519 15.731 14.456 15.731c8.078 0 14.456 -7.086 14.456 -15.731c-0 -8.645 -6.378 -15.731 -14.456 -15.731Z' style='fill:%23fff%3Bfill-rule:nonzero%3B'/%3E%3Cpath d='M250 -0l-250 -0l0 250l250 -0l-0 -250Zm-85.222 185.091c0 -0 -5.102 -6.094 -9.354 -11.48c18.566 -5.244 25.652 -16.865 25.652 -16.865c-5.81 3.827 -11.337 6.519 -16.298 8.362c-7.086 2.976 -13.889 4.96 -20.55 6.094c-13.605 2.551 -26.077 1.842 -36.706 -0.142c-8.078 -1.559 -15.023 -3.826 -20.833 -6.094c-3.26 -1.276 -6.803 -2.834 -10.346 -4.819c-0.425 -0.283 -0.851 -0.425 -1.276 -0.708c-0.283 -0.142 -0.425 -0.284 -0.567 -0.425c-2.551 -1.418 -3.968 -2.41 -3.968 -2.41c0 0 6.803 11.338 24.802 16.724c-4.252 5.385 -9.496 11.763 -9.496 11.763c-31.321 -0.992 -43.225 -21.542 -43.225 -21.542c-0 -45.635 20.408 -82.625 20.408 -82.625c20.408 -15.306 39.824 -14.881 39.824 -14.881l1.417 1.701c-25.51 7.369 -37.273 18.566 -37.273 18.566c0 -0 3.118 -1.701 8.362 -4.11c15.164 -6.661 27.211 -8.504 32.171 -8.929c0.85 -0.142 1.559 -0.283 2.409 -0.283c8.645 -1.134 18.424 -1.418 28.628 -0.284c13.464 1.559 27.92 5.527 42.659 13.606c0 -0 -11.196 -10.63 -35.289 -17.999l1.984 -2.268c0 0 19.416 -0.425 39.824 14.881c0 0 20.409 36.99 20.409 82.625c-0 -0 -12.047 20.55 -43.368 21.542Z' style='fill:%23fff%3Bfill-rule:nonzero%3B'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
}

/* @notice Navbar day/night toggle */
div[class*="toggle"] {
  margin-left: .5em;
  margin-right: .5em;
}
div[class*="toggleTrack_"] {
  background: none !important;
  border: 1px solid black;
}
[data-theme='dark'] div[class*="toggleTrack_"] {
  background: none !important;
  border: 1px solid white;
}

div[class*="toggleTrackThumb"] {
  background: url('/img/emoji-sunrise-over-mountains.png') no-repeat;
  background-size: contain;
}
[data-theme='dark'] div[class*="toggleTrackThumb"] {
  background: url('/img/emoji-national-park.png') no-repeat;
  background-size: contain;
}


/* .background {
  background: linear-gradient(to left, rgb(175, 178, 238), aquamarine);
} */

/* BannerSection -- hero elements */
.hero__container {
  position: relative;
  width: 95%;
  height: 95%;
  /* border: 1px solid green; */
}
.hero.hero--primary {
  background: url('/img/banner-day.png') no-repeat;
  background-position: center;
  height:40em;
}
[data-theme='dark'] .hero.hero--primary {
  background: url('/img/banner-night.png') no-repeat;
  background-position: center;
  height:40em;
}
.hero__tagline {
  position: absolute;
  left: 0 !important;
  bottom:0 !important;
}
.hero__title, .hero__subtitle {
  display: flex;
  color: #fff !important;
  text-shadow: 1px 1px 8px #000;
  margin: 0;
  line-height: 1em;
}









/* Social Links */
.button.button--secondary.button--lg {
  margin-top: 20em;
  background: #FBDC60;
  border:black 1px solid;
  border-radius: 2em;
  transition: .3s ease-out;
  animation: opacity 1s ease-out;
  box-shadow: 0 3px 3px rgba(0,0,0,.25);
}

.button.button--secondary.button--lg:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  outline: none;
}




@keyframes loop {
  0% {
    transform-origin: 0% 0%;
  }
  25%{
    transform-origin: 25% 50%;
  }
  50% {
    transform-origin: 50% 70%;
  }
  75% {
    transform-origin: 30% 100%;
  }
  100% {
    transform-origin: 0% 100%;
  }
}

/* .background__container {
  position:absolute;
  height:500em;
} */
/* .background__wrapper {
  position:absolute;
  height:100%;
} */

.background__animation {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(3) translateZ(0);
  animation: loop 30s ease-in-out alternate infinite;
  will-change: transform;
  filter: brightness(.5, 1);
}

/* .footer {
  z-index: 0;
} */
